<!doctype html>
<html>
<head>
    <title>FinanceTracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Righteous&display=swap');
        </style>
    <link rel="stylesheet" href="style.css">
</head>
<body id="bootstrap-overide" class="body">
<div class="container">

    <div class="jumbotron text-center index-color center">
        <h1 class="title">Budgeting App</h1>
        <img width=400 src="img/finance.jpg" alt="Money Profile Photo">
        <h3 class="text">Sign Up & Save Money$$ </h3>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
